{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>



    

<p>Um den Hyperbot nutzen zu k&ouml;nnen, ben&ouml;tigen wir die folgenden Angaben von Ihnen:</p>

<form action="Dateneingabe/" method="post">
    {% csrf_token %}
    <div class="form-group">


        <table>
            <tr>
                <th></th>
                <th>Variablentyp</th>
                <th>Variablenname (laut Logger)</th>
                <th>URL</th>
                <th>Variablenname</th>
            </tr>
            {% for row in message %}
            <tr>
                {% for col in row %}
                <td>{{col}}</td>
                {% endfor %}
                <td><input type="text" class="form-control" name={{row}} /></td>

            </tr>
            {% endfor %}
        </table>

        <button type="submit" class="btn-btn-default">Abschicken</button>
    </div>
    
</form>

{% endblock %}
