{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>



    

<p>Um den Hyperbot nutzen zu k&ouml;nnen, ben&ouml;tigen wir die folgenden Angaben von Ihnen:</p>

<form action="Dateneingabe/" method="post">
    {% csrf_token %}
    <div class="form-group">


        <table>
            <tr>
                <th></th>
                <th>Variablentyp</th>
                <th>Variablenname (laut Logger)</th>
                <th>URL</th>
                <th>Applicationname</th>
                <th>Windowtitle</th>
                <th>Variablenname</th>
            </tr>
            {% for row in message %}
            <tr>
                {% for col in row %}
                <td>{{col}}</td>
                {% endfor %}
                <td><input type="text" class="form-control" name={{row}} required /></td>

            </tr>
            {% endfor %}
        </table>
        <!-- Wenn Excel oder Word verwendet wurde, dann nach dem Pfad fragen -->
        {% if a > 0%}
        <input type="text" class="form-control" name=path required placeholder="Pfad der verwendeten Datei" />

        {% endif %}

        <fieldset>
            <legend>Wurde Data Scraping angewendet?</legend>

            <div>
                <input type="radio" id="ja" name="drone" value="ja"
                       checked>
                <label for="ja">ja</label>
            </div>

            <div>
                <input type="radio" id="nein" name="drone" value="nein">
                <label for="nein">nein</label>
            </div>

        </fieldset>


        <button type="submit" class="btn-btn-default">Abschicken</button>
    </div>
    
</form>

{% endblock %}
