{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Stefan Dao<br />
    Julius-Maximilians-Universit&auml;t W&uuml;rzburg<br />
    <strong>Email:</strong>   <a href="mailto:stefan.dao@stud-mail.uni-wuerzburg.de">stefan.dao@stud-mail.uni-wuerzburg.de</a><br />
</address>

<address>
    Leonie Gerkens<br />
    Julius-Maximilians-Universit&auml;t W&uuml;rzburg<br />
    <strong>Email:</strong>   <a href="mailto:leonie.gerkens@stud-mail.uni-wuerzburg.de">leonie.gerkens@stud-mail.uni-wuerzburg.de</a><br />
</address>

<address>
    Tristan Hermann<br />
    Julius-Maximilians-Universit&auml;t W&uuml;rzburg<br />
    <strong>Email:</strong>   <a href="mailto:tristan.hermann@stud-mail.uni-wuerzburg.de">tristan.hermann@stud-mail.uni-wuerzburg.de</a><br />
</address>

<address>
    Konstanze Lang<br />
    Julius-Maximilians-Universit&auml;t W&uuml;rzburg<br />
    <strong>Email:</strong>   <a href="mailto:konstanze.lang@stud-mail.uni-wuerzburg.de">konstanze.lang@stud-mail.uni-wuerzburg.de</a><br />
</address>

<address>
    Christine Nausch<br />
    Julius-Maximilians-Universit&auml;t W&uuml;rzburg<br />
    <strong>Email:</strong>   <a href="mailto:christine.nausch@stud-mail.uni-wuerzburg.de">christine.nausch@stud-mail.uni-wuerzburg.de</a><br />
</address>

{% endblock %}
